---
interface Props {
  id: string;
}
const { id } = Astro.props;
const hash = `${id}`;
---

<a href={hash}>
  <slot name="before" />
  <slot />
  <slot name="after" />
</a>

<style>
  a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
    margin-right: 30px;
    letter-spacing: 0.05rem;
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 16px;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(95, 137, 199, 1);
    text-underline-offset: 10px;
  }
  @media (max-width: 768px) {
    a {
      height: 20px;
      font-size: 14px;
      margin-right: 0px;
    }
  }
</style>
